.success_check {
    position: absolute;
    top: -20%;
    left: 60%;
    color: rgb(255, 255, 0) !important;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: rgb(154, 205, 50);
}

.success_check i {
    color: rgb(255, 255, 0) !important;
    font-size: 27px;
}