.sidebar-wrapper .menu .sidebar-item.active .sidebar-link {
    background-color: #cc0000 !important;
}

.sidebar-wrapper .sidebar-header img {
    width: 100% !important;
    height: auto !important;
}
.sidebar-wrapper .sidebar-header .logo a {
    width: 100% !important;
}

div#main{
    /* margin-left:300px; */
    transition: all .5s ease-out;
  }
/* span:after{
    content:' ';
    position:absolute;
    left:0;
    width:100%;
    height:100%;
    z-index:1;
    transform-origin:0;
    background:white;
}
 */
.paymentbullet li{
    list-style-type:none;
    margin:10px;
}
.paymentbullet li button{
    width:100% !important;
}
.paymentbullet li a{
    width:100% !important;
}
.sched-subject{
    background:white;
    padding:10px;
    border-radius:10px;
    font-size:70%;
}
td.schedule-time{
    margin:0 2px 0 2px;
}
.time-header{
    position: sticky;
    top: 0;
    background:white !important;
    overflow:hidden;
}
.chat-logo{
    position:fixed;
    bottom:20px;
    right:20px;
    z-index:10000;
    
}
.chat-logo img{
    /* font-size: 4em; */
    width:100px;
    height:auto;
    transition: transform .2s;
}
.chat-logo img:hover{
    color:red;
    /* font-size:4.5em; */
    transform:scale(1.2)
}
.wizard-container .tab-content{
    margin-top:10% !important;
}
#choose_legend{
    margin-bottom: 50px;
}


