.sidebar-wrapper .menu .sidebar-item.active .sidebar-link {
    background-color: #cc0000 !important;
}

.sidebar-wrapper .sidebar-header img {
    width: 100% !important;
    height: auto !important;
}
.sidebar-wrapper .sidebar-header .logo a {
    width: 100% !important;
}

div#main{
    /* margin-left:300px; */
    transition: all .5s ease-out;
  }
/* span:after{
    content:' ';
    position:absolute;
    left:0;
    width:100%;
    height:100%;
    z-index:1;
    transform-origin:0;
    background:white;
}
 */
.paymentbullet li{
    list-style-type:none;
    margin:10px;
}
.paymentbullet li button{
    width:100% !important;
}
.paymentbullet li a{
    width:100% !important;
}
.readvise_tab li{
    list-style-type:none;
    margin:10px;
}
.readvise_tab li button{
    width:100% !important;
}
.sched-subject{
    background:white;
    padding:10px;
    border-radius:10px;
    font-size:70%;
}
td.schedule-time{
    margin:0 2px 0 2px;
}
.time-header{
    position: sticky;
    top: 0;
    background:white !important;
    overflow:hidden;
}
.chat-logo{
    position:fixed;
    bottom:20px;
    right:20px;
    z-index:10000;
    
}
.chat-logo i{
    font-size: 4em;
    /* width:100px;
    height:auto; */
    transition: font-size .2s;
}
.chat-logo i:hover{
    color:red;
    font-size:4.5em;
    /* transform:scale(1.2) */
}
.wizard-container .tab-content{
    margin-top:10% !important;
}
#choose_legend{
    margin-bottom: 50px;
}

.introjs-tooltip{
    border:5px solid #cc0000;
}
.introjs-helperLayer{
    border:2px solid #cc0000;
    box-shadow: rgba(204, 0, 0,1) 0px 0px 1px 2px, rgba(33, 33, 33, 0.5) 0px 0px 0px 5000px !important;
}
.introjs-disabled{
    display:none;
}
.twinkling-background{
    animation: change-background 6s ease infinite;
    color:white;
    border-radius:.5rem;
}
.twinkling-background span{
    color:white!important;
}
.twinkling-background i{
    color:white!important;
}
.sidebar-wrapper .menu .twinkling-background .sidebar-link:hover {
    color:black;
    background-color:inherit;
}
@keyframes change-background {
    0% {
        background: #CC1C00;
        color:white;
    }
    10%{
        background: #CC3B00; 
        color:white;
    }
    20%{
        background: #CC7200; 
        color:white;
    }
    30%{
        background: #CC9A00; 
        color:white;
    }
    40%{
        background: #CCB000; 
        color:white;
    }
    50% {
        background: #AECC00;
        color:white;
    }
    60% {
        background: #6ACC00;
        color:white;
    }
    70% {
        background: #00CC08;
        color:white;
    }
    80% {
        background: #00CC74;
        color:white;
    }
    90% {
        background: #00CCBE;
        color:white;
    }
    100% {
        background: #00B5CC;
        color:white;
    }
}
